.button {
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: #003580;
    color: white;
    padding: 3%;
    transition: .5s ease-in-out;

    &:hover {
        cursor: pointer;
        transition: .5s ease-in-out;
        background-color: #25579c;
    }
}