.buttonAuth {
    margin-top: 5%;
    width: 100%;
    color: white;
    border: 0;
    border-radius: 30px;
    background-color: rgb(0, 123, 224);
    font-size: 100%;
    padding: 4%;
    transition: .4s ease-in-out;

    &:hover {
        cursor: pointer;
        transition: .2s ease-in-out;
        background-color: rgb(1, 108, 196);
    }
}