.flagship-dest {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(146, 146, 146, 0.4);
    
    /* this is what centers your element in the fixed wrapper*/
    display: flex;
    flex-flow: column;
    justify-content: center; /* aligns on vertical for column */
    align-items: center; /* aligns on horizontal for column */

    .flagship-dest__container {
        background-color: white;
        width: 50%;
        padding: 2%;
        border-radius: 12px;

        .flagship-dest__closetab {
            &:hover {
                cursor: pointer;
            }
        }

        .separator {
            width: 100%;
            background-color: rgb(189, 189, 189);
            height: 1px;
            margin-top: 3%;
            margin-bottom: 3%;
        }

        .flagship-dest__titles-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .flagship-dest__titles {
                h1 {
                    font-weight: bold;
                    font-size: 28px;
                }

                h2 {
                    font-size: 20px;
                }
            }
        }

        .flagship-dest__nodes {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 4%;

            .flagship-dest-node {
                display: flex;
                flex-direction: column;

                h1 {
                    font-size: 18px;
                    font-weight: bold;
                    color: rgb(0, 0, 131);
                }
            }
        }
    }
}