.map_container {
    height: 85vh;
    width: 100%;

    .marker_container {
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 1;
        height: 25px;
        width: 150px;

        &:hover {
            z-index: 2;
        }

        .marker_content {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .typo {

            }
    
            .img {
                cursor: pointer;
            }
        }


    }
}
